{% capture footer_contents %}
  &copy; Copyright {{ site.time | date: '%Y' }}
  {{ site.first_name }}
  {{ site.middle_name }}
  {{ site.last_name }}. {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
  
  <br>
  <span id="busuanzi_container_site_uv" style="font-size: 0.9em;">
    本站总访客数 <strong><span id="busuanzi_value_site_uv"></span></strong> 人次
  </span>
  <span style="font-size: 0.9em;">&nbsp; | &nbsp;</span>
  <span id="busuanzi_container_site_pv" style="font-size: 0.9em;">
    总访问量 <strong><span id="busuanzi_value_site_pv"></span></strong> 次
  </span>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}