{% if site.enable_google_verification or site.enable_bing_verification %}
  {% if site.enable_google_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {% endif %}
  {% if site.enable_bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
  {% endif %}
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
{% endif %}

{% capture author_name %}{{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}{% endcapture %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {% if site.title == 'blank' %}
    {% capture title %}{{ author_name }}{% endcapture %}
  {% else %}
    {% capture title %}{{ site.title }}{% endcapture %}
  {% endif %}
  {% if page.url == '/blog/index.html' %}
    {{ page.title | strip_html }} | {{ title }}
  {% elsif page.title != 'blank' and page.url != '/' %}
    {% if page.title == null or page.title == '' %}
      {{ page.date | date: '%Y' }} | {{ title }}
    {% else %}
      {{ page.title | strip_html }} | {{ title }}
    {% endif %}
  {% else %}
    {{ title }}
  {% endif %}
</title>
<meta name="author" content="{{ author_name }}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

{% if site.serve_og_meta %}
  <meta property="og:site_name" content="{{ title }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ title }} | {{ page.title | strip_html }}{% else %}{{ title }}{% endif %}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:locale" content="{{ site.lang }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | strip_html }}{% else %}{{ title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% endif %}

{% if site.serve_schema_org %}
  <script type="application/ld+json">
    {
        "author": { "@type": "Person", "name": "{{ author_name }}" },
        "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
        "@type": "WebSite",
        "description": "{% if page.description %}{{ page.description }}{% else if site.description %}{{ site.description }}{% endif %}",
        "headline": "{% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.title }}{% endif %}",
        "name": "{{ author_name }}",
        "@context": "https://schema.org"
    }
  </script>
{% endif %}
